html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    background-color: gray;
    outline: 0.1px solid rgb(110, 110, 110);
}

.square.painted {
    background-color: black;
}

#etch {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    width: 480px;
    max-height: 480px;
}